.animals__table{
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 600px;
    width: 100%;
}
.animals__table thead th{
    padding: 3px;
    border: 1px solid black;
}
.animals__table tr td{
    padding: 3px;
    border: 1px solid black;
}
#reportForm{
    margin: auto;
}
#reportForm div{
    display: flex;
    width: 700px;
    justify-content: space-between;
}