*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game{
}

.scores{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100vw;
    height: 49px;
}

.score{
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
}

.field{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.player{
    position: relative; 
    width: 5px;
    height: 100px;
    background: #000;
}

.player-1{
    top: 0;
    left: 0;
}

.player-2{
    right: 0;
}

.ball{
    position: relative; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
}