body{
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F5C400;
}

.leave-button{
    cursor: pointer;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

.leave-form{
    background: white;
    border: 1px solid black;
    position: absolute;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: calc(50vw - 75px);
    top: calc(50vh - 20px);
    padding: 10px;
    background: #756A3B;
}

.leave-from__star{
    border-radius: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin: 35px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    justify-content: space-between;
    background: #000CF5;
}

.messages{
    display: flex;
    flex-direction: column;
}

.input-text{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.input-text input[type="text"]{
    flex: 0 0 85%;
}

.input-text input[type="button"]{
    flex: 1 0 auto;
}

.message{
    padding: 8px 16px;
    background: #0FF500;
    border-radius: 20px;
    display: inline-block;
    color: #F50092;
}

/* .messages:nth-child(even){
    text-align: left;
} */

.messages div:nth-child(odd){
    text-align: right;
}
